extends layout

block aside 
 .list-group
  a.list-group-item.list-group-item-action.active(href='#')
    | Cras justo odio
  a.list-group-item.list-group-item-action(href='#') Dapibus ac facilisis in
  a.list-group-item.list-group-item-action(href='#') Morbi leo risus
  a.list-group-item.list-group-item-action(href='#') Porta ac consectetur ac
  a.list-group-item.list-group-item-action.disabled(href='#') Vestibulum at eros
block section 
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo quos beatae, dicta asperiores dolorum laborum repellendus consectetur ducimus doloribus harum laboriosam enim eligendi blanditiis tempora porro, autem animi, ullam unde!e
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo quos beatae, dicta asperiores dolorum laborum repellendus consectetur ducimus doloribus harum laboriosam enim eligendi blanditiis tempora porro, autem animi, ullam unde!e
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo quos beatae, dicta asperiores dolorum laborum repellendus consectetur ducimus doloribus harum laboriosam enim eligendi blanditiis tempora porro, autem animi, ullam unde!e
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo quos beatae, dicta asperiores dolorum laborum repellendus consectetur ducimus doloribus harum laboriosam enim eligendi blanditiis tempora porro, autem animi, ullam unde!e