doctype html
html
  head
    title= title 
    link(rel='stylesheet' href='/bootstrap-css/bootstrap.min.css')
    script(src='/jquery/jquery.min.js')
    script(src='/bootstrap-js/bootstrap.min.js')
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous")
  body
    #site
      header
        h1
          a(href="/") 📖 STIKI: Gestión de contactos
      main 
        aside 
          img(src="/images/agendacover.png" alt="xd").aside-img
          hr
          a(href="/").aside-link 🙍‍♂️&nbsp;Todos los contactos
          hr
          a(href="/contacts/favs").aside-link ⭐&nbsp;Favoritos
        section 
          block section 
      footer 
        p 
          i.fab.fa-github
          a(href='https://github.com/Santoxjon/BBK-Bootcamp-Proyecto-Modulo-02' target='_blank')#footer_link All the code is available here
    script.
      let header = document.getElementsByTagName("header")[0].clientHeight;
      let footer = document.getElementsByTagName("footer")[0].clientHeight;
      document.getElementsByTagName("main")[0].style.height = `calc(100vh - (${header}px + ${footer}px))`;
    script(src="/js/script.js") 